Repository Gathering-Organization/Gathering: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[design] Open Graph 설정
  Gathering_fe/index.html
Due: none

[feat] 슬라이딩 배너(캐러셀) 추가, 지원하기 모달창 디자인 수정
  Gathering_fe/src/components/ApplyModal.tsx
  Gathering_fe/src/components/BannerCarousel.tsx
  Gathering_fe/src/pages/PostHome.tsx
  Gathering_fe/tailwind.config.js
  package.json
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[feat] 우하단 스크롤 버튼 추가
  Gathering_fe/src/components/Layout.tsx
  Gathering_fe/src/pages/PostHome.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[feat] 알림 기능 구현
  Gathering_be/src/main/java/com/Gathering_be/controller/NotificationController.java
  Gathering_be/src/main/java/com/Gathering_be/domain/Notification.java
  Gathering_be/src/main/java/com/Gathering_be/dto/response/NotificationResponse.java
  Gathering_be/src/main/java/com/Gathering_be/exception/NotificationNotFoundException.java
  Gathering_be/src/main/java/com/Gathering_be/global/enums/NotificationType.java
  Gathering_be/src/main/java/com/Gathering_be/global/exception/ErrorCode.java
  Gathering_be/src/main/java/com/Gathering_be/global/response/ResultCode.java
  Gathering_be/src/main/java/com/Gathering_be/repository/NotificationRepository.java
  Gathering_be/src/main/java/com/Gathering_be/service/NotificationService.java
Due: none

[feat] 알림 기능 적용
  Gathering_be/src/main/java/com/Gathering_be/global/enums/ApplyStatus.java
  Gathering_be/src/main/java/com/Gathering_be/service/AdminService.java
  Gathering_be/src/main/java/com/Gathering_be/service/ApplicationService.java
  Gathering_be/src/main/java/com/Gathering_be/service/ProjectService.java
Due: none

[feat] 구글 애널리틱스 코드 추가 (방문자 수)
  Gathering_fe/index.html
Due: none

[fix] 삭제 알림 메일 형식 수정
  Gathering_be/src/main/resources/templates/delete_notify_applicant.html
  Gathering_be/src/main/resources/templates/delete_notify_author.html
Due: none

[fix] 의존성 주입 경로 변경
  Gathering_fe/package.json
  Gathering_fe/tsconfig.app.json
  package.json
Due: prettier --config ./Gathering_fe/.prettierrc --write

[fix] SecurityConfig cors 재적용
  Gathering_be/src/main/java/com/Gathering_be/global/config/SecurityConfig.java
Due: none

Update README.md
  Gathering_fe/README.md
Due: prettier --config ./Gathering_fe/.prettierrc --write

[fix] SecurityConfig cors 재적용 2nd
  Gathering_be/src/main/java/com/Gathering_be/global/config/SecurityConfig.java
Due: none

[fix] SecurityConfig cors 재적용 3rd
  Gathering_be/src/main/java/com/Gathering_be/global/config/SecurityConfig.java
  Gathering_be/src/main/java/com/Gathering_be/global/config/WebConfig.java
Due: none

[fix] notification 테이블 생성
  Gathering_be/src/main/resources/application-prod.yml
Due: none

[fix] application-prod.yml 원상복구
  Gathering_be/src/main/resources/application-prod.yml
Due: none

Create README.md
  Gathering_be/README.md
Due: prettier --config ./Gathering_fe/.prettierrc --write

Update README.md
  README.md
Due: prettier --config ./Gathering_fe/.prettierrc --write

[refactor] 로그 메시지 삭제
  Gathering_fe/src/components/ApplyModal.tsx
  Gathering_fe/src/components/GoogleRedirectHandler.tsx
  Gathering_fe/src/components/NicknameModal.tsx
  Gathering_fe/src/components/OptionalDropdown.tsx
  Gathering_fe/src/components/PostItem.tsx
  Gathering_fe/src/components/ProtectedRoute.tsx
  Gathering_fe/src/components/SubmenuLevel1.tsx
  Gathering_fe/src/components/WorkExperienceModal.tsx
  Gathering_fe/src/contexts/ProfileStateContext.tsx
  Gathering_fe/src/pages/Admin.tsx
  Gathering_fe/src/pages/Apply.tsx
  Gathering_fe/src/pages/PostEdit.tsx
  Gathering_fe/src/pages/PostHome.tsx
  Gathering_fe/src/pages/Profile.tsx
  Gathering_fe/src/services/adminApi.tsx
  Gathering_fe/src/services/applicationApi.tsx
  Gathering_fe/src/services/authApi.tsx
  Gathering_fe/src/services/interestApi.tsx
  Gathering_fe/src/services/postApi.tsx
  Gathering_fe/src/services/profileApi.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[design] 홈화면 반응형 디자인으로 변경
  Gathering_fe/src/components/BannerCarousel.tsx
  Gathering_fe/src/components/FilteringButton.tsx
  Gathering_fe/src/components/Footer.tsx
  Gathering_fe/src/components/Header.tsx
  Gathering_fe/src/components/Layout.tsx
  Gathering_fe/src/components/MultiLevelDropdown.tsx
  Gathering_fe/src/components/OptionalDropdown.tsx
  Gathering_fe/src/components/PostItem.tsx
  Gathering_fe/src/components/PostList.tsx
  Gathering_fe/src/components/ProjectTypeFilter.tsx
  Gathering_fe/src/components/SearchBar.tsx
  Gathering_fe/src/pages/PostHome.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[design] 회원가입 부분 반응형 디자인으로 수정
  Gathering_fe/src/components/LogoutButton.tsx
  Gathering_fe/src/components/SignUpAgree.tsx
  Gathering_fe/src/components/SignUpCelebrate.tsx
  Gathering_fe/src/components/SignUpCertEmail.tsx
  Gathering_fe/src/components/SignUpOrder.tsx
  Gathering_fe/src/pages/PostHome.tsx
  Gathering_fe/src/pages/SignUp.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[fix] 페이지네이션에서 페이지가 1 이하일 때 버튼이 없도록 예외처리
  Gathering_fe/src/components/Pagination.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[design] 프로필 반응형 디자인 적용
  Gathering_fe/src/pages/PostEdit.tsx
  Gathering_fe/src/pages/PostHome.tsx
  Gathering_fe/src/pages/Posting.tsx
  Gathering_fe/src/pages/Profile.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[design] 프로필 컬러 모달 반응형 디자인 적용
  Gathering_fe/src/components/ProfileColorModal.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[design] 닉네임 변경 모달 반응형 디자인 적용
  Gathering_fe/src/components/NicknameModal.tsx
  Gathering_fe/src/components/ProfileColorModal.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[design] 소속 입력창, 기술 스택 드롭다운 반응형 디자인 적용
  Gathering_fe/src/components/MultiSelection.tsx
  Gathering_fe/src/pages/Profile.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[design] 활동 경력 입력 모달 반응형 디자인 적용
  Gathering_fe/src/components/SingleSelection.tsx
  Gathering_fe/src/components/TeamTagInput.tsx
  Gathering_fe/src/components/WorkExperienceModal.tsx
  Gathering_fe/src/pages/Posting.tsx
  Gathering_fe/src/pages/Profile.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[design] 내 모집글 보기, 내 지원서 보기 페이지 반응형 디자인 적용
  Gathering_fe/src/pages/MyApplication.tsx
  Gathering_fe/src/pages/MyPostHome.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[design] 모집글 상세 보기 반응형 디자인 적용
  Gathering_fe/src/components/Badge.tsx
  Gathering_fe/src/components/Footer.tsx
  Gathering_fe/src/components/OtherApplicationModal.tsx
  Gathering_fe/src/components/Viewer.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[design] 지원서 모달창 반응형 디자인 적용
  Gathering_fe/src/components/ApplyModal.tsx
  Gathering_fe/src/components/WorkExperienceModal.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[design] 모집글 상세보기 반응형 디자인 수정
  Gathering_fe/src/components/Viewer.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[design] 타인 프로필 페이지 반응형 디자인 적용
  Gathering_fe/src/pages/OtherUserProfile.tsx
  Gathering_fe/src/pages/Profile.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[design] 지원서 확인 페이지 반응형 디자인 적용
  Gathering_fe/src/components/WorkExperienceItem.tsx
  Gathering_fe/src/components/WorkExperienceViewerModal.tsx
  Gathering_fe/src/pages/Apply.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[design] 지원서 확인 페이지 반응형 디자인 수정
  Gathering_fe/src/pages/Apply.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[design] 활동 경력 조회 모달창 반응형 디자인 적용
  Gathering_fe/src/components/WorkExperienceViewerModal.tsx
  Gathering_fe/src/pages/Apply.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[design] 반응형 디자인 일부 수정
  Gathering_fe/src/components/ApplyModal.tsx
  Gathering_fe/src/components/ApplyResultModal.tsx
  Gathering_fe/src/components/MoreWorkExperiencesModal.tsx
  Gathering_fe/src/components/OtherApplicationModal.tsx
  Gathering_fe/src/components/SignUpCertEmail.tsx
  Gathering_fe/src/components/Viewer.tsx
  Gathering_fe/src/components/WorkExperienceItem.tsx
  Gathering_fe/src/components/WorkExperienceViewerModal.tsx
  Gathering_fe/src/pages/Apply.tsx
  Gathering_fe/src/pages/Profile.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[fix] 드롭다운 독립 관계에서 종속 관계로 수정
  Gathering_fe/src/components/SearchBar.tsx
  Gathering_fe/src/pages/PostHome.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[fix] 기술 스택 드롭다운 전체 버튼 UX 이상 현상 수정
  Gathering_fe/src/components/OptionalDropdown.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[design] 관리자 페이지 반응형 디자인 적용
  Gathering_fe/src/pages/Admin.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[design] 모집글 작성/수정 입력창 위에 명칭 붙이기
  Gathering_fe/src/components/Viewer.tsx
  Gathering_fe/src/pages/PostEdit.tsx
  Gathering_fe/src/pages/Posting.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

Path conditions:
  eslint --config ./Gathering_fe/eslint.config.js --fix: any of: Gathering_fe/**/*.{js,jsx,ts,tsx}
  prettier --config ./Gathering_fe/.prettierrc --write: (any of: Gathering_fe/**/*.{js,jsx,ts,tsx}) or (any of: **/*.{json,md,css,scss})
