Repository Gathering-Organization/Gathering: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

.lintstagedrc.json:

{
  "Gathering_fe/**/*.{js,jsx,ts,tsx}": [
    "eslint --config ./Gathering_fe/eslint.config.js --fix",
    "prettier --config ./Gathering_fe/.prettierrc --write"
  ],
  "**/*.{json,md,css,scss}": ["prettier --config ./Gathering_fe/.prettierrc --write"]
}

Update README.md
  README.md
Due: prettier --config ./Gathering_fe/.prettierrc --write

[fix] 백엔드 알림 파일 복구
  Gathering_be/src/main/java/com/Gathering_be/service/NotificationService.java
Due: none

[Fix] 알림 기능 SSE 방식 -> 페이지 이동, 새로고침 시 단일 API 호출 방식
  Gathering_fe/src/App.tsx
  Gathering_fe/src/assets/otherIcons/Alarm.png
  Gathering_fe/src/assets/otherIcons/Notification.png
  Gathering_fe/src/components/Header.tsx
  Gathering_fe/src/components/Layout.tsx
  Gathering_fe/src/components/LogoutButton.tsx
  Gathering_fe/src/components/NotificationButton.tsx
  Gathering_fe/src/hooks/UseNotificationSSE.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

Update README.md
  Gathering_fe/README.md
Due: prettier --config ./Gathering_fe/.prettierrc --write

[fix] Dockerfile 이미지 변경
  Gathering_be/Dockerfile
Due: none

fix: 캐러셀 배너 반응형 디자인 오류 수정 및 이벤트 추가
  Gathering_fe/public/banner3.png
  Gathering_fe/src/pages/PostHome.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

feat(seo): SEO 설정을 위한 robots, sitemap 파일 추가
  Gathering_fe/public/robots.txt
  Gathering_fe/public/sitemap.xml
Due: none
