Repository Gathering-Organization/Gathering: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[fix] oauth2 설정 8th
  Gathering_be/src/main/java/com/Gathering_be/global/config/SecurityConfig.java
Due: none

[fix] oauth2 설정 9th
  Gathering_be/src/main/java/com/Gathering_be/controller/DebugController.java
  Gathering_be/src/main/java/com/Gathering_be/global/config/SecurityConfig.java
Due: none

[fix] oauth2 설정 10th
  Gathering_be/src/main/java/com/Gathering_be/controller/DebugController.java
  Gathering_be/src/main/java/com/Gathering_be/global/config/SecurityConfig.java
Due: none

[fix] URL 파싱 방식 변경 (Google 기본 정책)
  Gathering_fe/src/components/GoogleRedirectHandler.tsx
  Gathering_fe/src/vercel.json
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[fix] 구글 로그인 핸들러 수정
  Gathering_fe/src/components/LoginModal.tsx
  Gathering_fe/src/components/ProtectedRoute.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[fix] vercel.json 파일 수정
  Gathering_fe/src/components/GoogleRedirectHandler.tsx
  Gathering_fe/src/components/LoginModal.tsx
  Gathering_fe/src/components/ProtectedRoute.tsx
  Gathering_fe/src/vercel.json
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[fix] 구글 핸들러 수정
  Gathering_fe/src/components/LoginModal.tsx
  Gathering_fe/src/components/ProtectedRoute.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[fix] 로그인 핸들러 재 수정
  Gathering_fe/src/vercel.json
Due: prettier --config ./Gathering_fe/.prettierrc --write

Rename SignupModal.tsx to SignUpModal.tsx
  Gathering_fe/src/components/SignUpModal.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[fix] 파일명 오류 수정
  Gathering_fe/src/components/Header.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[fix] vercel.json 파일 dest 수정
  Gathering_fe/src/vercel.json
Due: prettier --config ./Gathering_fe/.prettierrc --write

[backend] 오류 수정
  Gathering_be/src/main/java/com/Gathering_be/global/config/SecurityConfig.java
  Gathering_be/src/main/resources/application-dev.yml
Due: none

[backend] 오류 수정
  Gathering_be/src/main/java/com/Gathering_be/controller/DebugController.java
  Gathering_be/src/main/java/com/Gathering_be/global/config/SecurityConfig.java
  Gathering_be/src/main/resources/application-dev.yml
Due: none

[backend] 오류 수정
  Gathering_be/src/main/java/com/Gathering_be/controller/DebugController.java
  Gathering_be/src/main/java/com/Gathering_be/global/config/SecurityConfig.java
  Gathering_be/src/main/resources/application-prod.yml
Due: none

[fix] 크롬 쿠키 정책에 따라 sameSite 변경
  Gathering_fe/src/components/GoogleRedirectHandler.tsx
  Gathering_fe/src/services/authApi.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[fix] 로컬 스토리지에 토큰을 저장
  Gathering_fe/src/components/Header.tsx
  Gathering_fe/src/services/api.tsx
  Gathering_fe/src/services/authApi.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[fix] 로그 확인 테스트
  Gathering_fe/src/components/GoogleRedirectHandler.tsx
  Gathering_fe/src/services/authApi.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[fix] 로그 확인 테스트
  Gathering_fe/src/components/GoogleRedirectHandler.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[fix] 콘솔 메세지 테스트
  Gathering_fe/src/components/GoogleRedirectHandler.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[fix] 구글 로그인 테스트
  Gathering_fe/src/components/GoogleRedirectHandler.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[fix] 구글 로그인 테스트
  Gathering_fe/src/components/GoogleRedirectHandler.tsx
  Gathering_fe/src/components/ProtectedRoute.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[backend] 오류 수정
  Gathering_be/src/main/java/com/Gathering_be/global/config/SecurityConfig.java
Due: none

[fix] vercel.json 경로 변경
  Gathering_fe/vercel.json
Due: prettier --config ./Gathering_fe/.prettierrc --write

[fix] 구글 핸들러 원상복구
  Gathering_fe/src/components/ProtectedRoute.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[fix] 구글 핸들러 로그 테스트
  Gathering_fe/src/components/ProtectedRoute.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[fix] vercel.json 적용되는지 테스트
  Gathering_fe/vercel.json
Due: prettier --config ./Gathering_fe/.prettierrc --write

[fix] vercel.json 수정
  Gathering_fe/vercel.json
Due: prettier --config ./Gathering_fe/.prettierrc --write

[fix] vercel.json 수정 2nd
  Gathering_fe/vercel.json
Due: prettier --config ./Gathering_fe/.prettierrc --write

[fix] vercel.json 수정 3rd
  Gathering_fe/vercel.json
Due: prettier --config ./Gathering_fe/.prettierrc --write

[fix] vercel.json 수정 4th
  Gathering_fe/vercel.json
Due: prettier --config ./Gathering_fe/.prettierrc --write

기획 의도, 역할별 기능 텍스트 추가
  README.md
Due: prettier --config ./Gathering_fe/.prettierrc --write

markdown 일부 수정
  README.md
Due: prettier --config ./Gathering_fe/.prettierrc --write

[fix] 액세스 토큰 저장 방식 변경 (localStorage -> cookie)
  Gathering_fe/src/components/GoogleRedirectHandler.tsx
  Gathering_fe/src/components/Header.tsx
  Gathering_fe/src/components/OtherApplicationModal.tsx
  Gathering_fe/src/pages/PostHome.tsx
  Gathering_fe/src/services/api.tsx
  Gathering_fe/src/services/authApi.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[fix] spring-boot-starter-oauth2-client 의존성 제거
  Gathering_be/build.gradle
Due: none

[fix] spring-boot-starter-oauth2-client 의존성 제거 2nd
  Gathering_be/src/main/java/com/Gathering_be/global/config/SecurityConfig.java
Due: none

[fix] spring-boot-starter-oauth2-client 의존성 제거 3rd
  Gathering_be/src/main/java/com/Gathering_be/global/config/SecurityConfig.java
Due: none

[fix] 배포서버 oauth2-client 의존성 제거
  Gathering_be/src/main/resources/application-prod.yml
Due: none

[fix] access, refresh token 기간 의도대로 재설정
  Gathering_be/src/main/java/com/Gathering_be/global/jwt/JwtTokenProvider.java
  Gathering_be/src/main/resources/application-prod.yml
Due: none

[design] 로컬 스토리지를 이용하여 토스트 메시지 글로벌화
  Gathering_fe/src/components/GoogleRedirectHandler.tsx
  Gathering_fe/src/components/LoginModal.tsx
  Gathering_fe/src/components/ProtectedRoute.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

Path conditions:
  eslint --config ./Gathering_fe/eslint.config.js --fix: any of: Gathering_fe/**/*.{js,jsx,ts,tsx}
  prettier --config ./Gathering_fe/.prettierrc --write: (any of: Gathering_fe/**/*.{js,jsx,ts,tsx}) or (any of: **/*.{json,md,css,scss})
