Repository Gathering-Organization/Gathering: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

.lintstagedrc.json:

{
  "Gathering_fe/**/*.{js,jsx,ts,tsx}": [
    "eslint --config ./Gathering_fe/eslint.config.js --fix",
    "prettier --config ./Gathering_fe/.prettierrc --write"
  ],
  "**/*.{json,md,css,scss}": ["prettier --config ./Gathering_fe/.prettierrc --write"]
}

[fix] 모집 포지션, 기술 스택 드롭다운이 안보이는 현상 수정
  Gathering_fe/src/components/Viewer.tsx
  Gathering_fe/src/pages/Apply.tsx
  Gathering_fe/src/utils/tech-stacks.ts
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[design] 기술 툴팁 애니메이션 및 위치 수정
  Gathering_fe/src/pages/Apply.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[design] 지원서 활동 경력 더보기 추가 및 overflow 스크롤 기능 추가
  Gathering_fe/src/components/MoreWorkExperiencesModal.tsx
  Gathering_fe/src/components/OtherApplicationModal.tsx
  Gathering_fe/src/components/WorkExperienceItem.tsx
  Gathering_fe/src/components/WorkExperienceViewerModal.tsx
  Gathering_fe/src/pages/Admin.tsx
  Gathering_fe/src/pages/Apply.tsx
  Gathering_fe/src/pages/OtherUserProfile.tsx
  Gathering_fe/src/pages/Profile.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[fix] 모바일에서 팀원 태그 시 엔터가 다음 칸으로 이동하는 현상 방지
  Gathering_fe/src/components/TeamTagInput.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[fix] 드롭다운 종속 관계 전역 상태 관리
  Gathering_fe/src/components/Layout.tsx
  Gathering_fe/src/components/LogoutButton.tsx
  Gathering_fe/src/components/SearchBar.tsx
  Gathering_fe/src/contexts/DropdownContext.tsx
  Gathering_fe/src/pages/PostHome.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

Update README.md
  README.md
Due: prettier --config ./Gathering_fe/.prettierrc --write

[feat] 기존 계정 구글 계정 연동기능 추가
  Gathering_be/src/main/java/com/Gathering_be/controller/AuthController.java
  Gathering_be/src/main/java/com/Gathering_be/domain/Member.java
  Gathering_be/src/main/java/com/Gathering_be/dto/request/LinkAccountRequest.java
  Gathering_be/src/main/java/com/Gathering_be/exception/AccountNeedsLinkingException.java
  Gathering_be/src/main/java/com/Gathering_be/global/exception/ErrorCode.java
  Gathering_be/src/main/java/com/Gathering_be/global/response/ResultCode.java
  Gathering_be/src/main/java/com/Gathering_be/service/AuthService.java
Due: none

[Design] 배너 이미지 추가
  Gathering_fe/public/banner1.png
  Gathering_fe/src/components/GoogleRedirectHandler.tsx
  Gathering_fe/src/components/Header.tsx
  Gathering_fe/src/pages/PostHome.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[Document] 프로젝트 시연 GIF 추가
  assets/모집글 작성 방법.gif
  assets/모집글 지원 방법.gif
  assets/모집자 프로필 조회 방법.gif
  assets/지원자 조회 및 승인 방법.gif
  assets/프로필 정보 등록 방법.gif
  assets/합격 시 채팅 방법.gif
Due: none

Update README.md
  Gathering_be/README.md
Due: prettier --config ./Gathering_fe/.prettierrc --write

[docs] 백엔드 문제 상황과 해결 과정 문서 추가
  Gathering_be/docs/1.md
  Gathering_be/docs/2.md
  Gathering_be/docs/3.md
Due: prettier --config ./Gathering_fe/.prettierrc --write

[design] 사용 설명서 배너 추가
  Gathering_fe/public/banner2.png
  Gathering_fe/src/pages/PostHome.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[fix] embla-carousel 라이브러리 루트 경로에서 삭제
  package.json
Due: prettier --config ./Gathering_fe/.prettierrc --write

[design] 배너 반응형 디자인 적용
  Gathering_fe/src/pages/PostHome.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[Feat] 구글 로그인 핸들러의 AU010 처리 로직 추가 및 통합 여부 모달창 생성
  Gathering_fe/src/components/GoogleRedirectHandler.tsx
  Gathering_fe/src/components/IntergrationModal.tsx
  Gathering_fe/src/services/authApi.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[feat] 통합 여부 확인 시 이메일, 비밀번호 입력 UI 생성
  Gathering_fe/src/components/GoogleRedirectHandler.tsx
  Gathering_fe/src/components/IntergrationModal.tsx
  Gathering_fe/src/components/LoginInModal.tsx
  Gathering_fe/src/components/ProtectedRoute.tsx
  Gathering_fe/src/services/authApi.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[feat] 계정 연동 필요 시 200 OK를 반환하도록 예외 처리 수정
  Gathering_be/src/main/java/com/Gathering_be/global/exception/GlobalExceptionHandler.java
  Gathering_be/src/main/java/com/Gathering_be/global/response/ResultResponse.java
Due: none

[setup] ddl-auto: update
  Gathering_be/src/main/resources/application-prod.yml
Due: none

[setup] ddl-auto: validate
  Gathering_be/src/main/resources/application-prod.yml
Due: none

[feat] 일반 계정과 구글 계정 통합 기능 생성
  Gathering_fe/src/components/GoogleRedirectHandler.tsx
  Gathering_fe/src/components/IntergrationModal.tsx
  Gathering_fe/src/components/LoginModal.tsx
  Gathering_fe/src/services/authApi.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[setup] /h2-console/** 허용
  Gathering_be/src/main/java/com/Gathering_be/global/config/SecurityConfig.java
Due: none

[setup] web-allow-others: true
  Gathering_be/src/main/resources/application-dev.yml
Due: none

[setup] dev. X-Frame-Options 비활성
  Gathering_be/src/main/java/com/Gathering_be/global/config/SecurityConfig.java
Due: none

[setup] "/h2-console/**" 허용
  Gathering_be/src/main/java/com/Gathering_be/global/config/SecurityConfig.java
Due: none

[feat] 알림 API 함수 생성
  Gathering_fe/src/services/notificationApi.tsx
  Gathering_fe/src/services/profileApi.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[feat] 알림 버튼 생성 및 드롭다운 전역 설정 변경
  Gathering_fe/src/assets/otherIcons/Alarm.png
  Gathering_fe/src/components/Header.tsx
  Gathering_fe/src/components/LogoutButton.tsx
  Gathering_fe/src/components/NotificationButton.tsx
  Gathering_fe/src/contexts/DropdownContext.tsx
  Gathering_fe/src/types/notification.ts
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[feat] Recoil 상태 관리 라이브러리를 이용하여 알림 실시간 구독 방식(SSE) 채택 및 navigate 에러 수정
  Gathering_fe/package.json
  Gathering_fe/src/App.tsx
  Gathering_fe/src/components/NotificationButton.tsx
  Gathering_fe/src/hooks/UseNotificationSSE.tsx
  Gathering_fe/src/recoil/notification.ts
  Gathering_fe/src/services/notificationApi.tsx
  Gathering_fe/src/types/notification.ts
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[setup] dev h2 관련 설정 초기화
  Gathering_be/src/main/java/com/Gathering_be/global/config/SecurityConfig.java
  Gathering_be/src/main/resources/application-dev.yml
Due: none

[refactor] SSE관련 메서드에 log 추가
  Gathering_be/src/main/java/com/Gathering_be/service/NotificationService.java
Due: none

[fix] SSE 파라미터 id -> nickname 변경
  Gathering_be/src/main/java/com/Gathering_be/service/NotificationService.java
Due: none

[feat] SSE 알림 기능 생성
  Gathering_fe/package.json
  Gathering_fe/src/components/Layout.tsx
  Gathering_fe/src/components/NotificationButton.tsx
  Gathering_fe/src/hooks/UseNotificationSSE.tsx
  Gathering_fe/src/services/api.tsx
  Gathering_fe/src/services/notificationApi.tsx
  Gathering_fe/src/utils/tech-stacks.ts
  Gathering_fe/vite.config.ts
  LICENSE
  README.md
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[Fix] SSE 하트비트 로직, emitter 덮어쓰기 문제 수정
  Gathering_be/src/main/java/com/Gathering_be/service/NotificationService.java
  Gathering_fe/src/hooks/UseNotificationSSE.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

Revert "[Fix] SSE 하트비트 로직, emitter 덮어쓰기 문제 수정"
  Gathering_be/src/main/java/com/Gathering_be/service/NotificationService.java
  Gathering_fe/src/hooks/UseNotificationSSE.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[Fix] SSE 1차 임시 수정
  Gathering_be/src/main/java/com/Gathering_be/service/NotificationService.java
  Gathering_fe/src/App.tsx
  Gathering_fe/src/components/Layout.tsx
  Gathering_fe/src/contexts/SSEContext.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

Revert "[Fix] SSE 1차 임시 수정"
  Gathering_be/src/main/java/com/Gathering_be/service/NotificationService.java
  Gathering_fe/src/App.tsx
  Gathering_fe/src/components/Layout.tsx
  Gathering_fe/src/contexts/SSEContext.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

Create LICENSE
  LICENSE
Due: none
