Repository Gathering-Organization/Gathering: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

.lintstagedrc.json:

{
  "Gathering_fe/**/*.{js,jsx,ts,tsx}": [
    "eslint --config ./Gathering_fe/eslint.config.js --fix",
    "prettier --config ./Gathering_fe/.prettierrc --write"
  ],
  "**/*.{json,md,css,scss}": ["prettier --config ./Gathering_fe/.prettierrc --write"]
}

[feat] 관리자가 모집글 삭제시 메일 전송
  Gathering_be/src/main/java/com/Gathering_be/service/AdminService.java
  Gathering_be/src/main/java/com/Gathering_be/service/EmailService.java
Due: none

[fix] 삭제 기능 오류 수정 (admin 전용)
  Gathering_be/src/main/java/com/Gathering_be/domain/Project.java
  Gathering_be/src/main/java/com/Gathering_be/repository/custom/ProjectRepositoryImpl.java
  Gathering_be/src/main/java/com/Gathering_be/service/AdminService.java
  Gathering_be/src/main/java/com/Gathering_be/service/ProjectService.java
Due: none

[refactor] myproject 조회 기능 custom repository에 통합
  Gathering_be/src/main/java/com/Gathering_be/repository/ProjectRepository.java
  Gathering_be/src/main/java/com/Gathering_be/repository/custom/ProjectRepositoryCustom.java
  Gathering_be/src/main/java/com/Gathering_be/repository/custom/ProjectRepositoryImpl.java
  Gathering_be/src/main/java/com/Gathering_be/service/ProjectService.java
Due: none

[feat] 관리자 페이지 모집글 목록 조회 및 삭제 기능 추가
  Gathering_fe/src/pages/Admin.tsx
  Gathering_fe/src/pages/Posting.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[fix] changeMemberRole 오류 수정
  Gathering_be/src/main/java/com/Gathering_be/service/AdminService.java
Due: none

[feat] 관리자 페이지 권한 전환 기능 생성
  Gathering_fe/src/pages/Admin.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[feat] 구글 애널리틱스 태그 관리자 코드 추가
  Gathering_fe/index.html
Due: none

[design] 모집글 수정 중 스피너 추가
  Gathering_fe/src/pages/PostEdit.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[feat] 관리자가 모집글 삭제 시 메일 전송 기능 완성
  Gathering_be/src/main/java/com/Gathering_be/service/AdminService.java
  Gathering_be/src/main/java/com/Gathering_be/service/EmailService.java
  Gathering_be/src/main/resources/templates/delete_notify_applicant.html
  Gathering_be/src/main/resources/templates/delete_notify_author.html
Due: none

[fix] 폰트 수정
  Gathering_be/src/main/resources/templates/notify.html
Due: none

[fix] 조회수 12시간에 한번 오르게 변경 (#6)
  Gathering_be/src/main/java/com/Gathering_be/service/ProjectService.java
Due: none

[fix] vercel.json 파일 추가
  Gathering_fe/src/vercel.json
Due: prettier --config ./Gathering_fe/.prettierrc --write

[fix] vite 설정 변경
  Gathering_fe/package.json
  Gathering_fe/src/vercel.json
Due: prettier --config ./Gathering_fe/.prettierrc --write

[fix] 타입스크립트 설정 완화, package 설치
  Gathering_fe/package.json
  Gathering_fe/tsconfig.node.json
Due: prettier --config ./Gathering_fe/.prettierrc --write

[fix] 타입스크립트 변수명 기준 완화
  Gathering_fe/tsconfig.app.json
  Gathering_fe/tsconfig.node.json
Due: prettier --config ./Gathering_fe/.prettierrc --write

[fix] vercel 미반영에 의한 재 push
  Gathering_fe/tsconfig.app.json
Due: prettier --config ./Gathering_fe/.prettierrc --write

[fix] 배포 파일 수정
  .github/workflows/deploy-prod.yml
Due: none

[fix] 파일 경로 오류 수정
  Gathering_fe/src/components/Header.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[fix] 테이블 자동 생성 최초 1회
  Gathering_be/src/main/resources/application-prod.yml
Due: none

[fix] application-prod.yml 원상 복구
  Gathering_be/src/main/resources/application-prod.yml
Due: none

[fix] 운영용 swagger 추가
  .github/workflows/deploy-prod.yml
  Gathering_be/docker-compose.prod.yml
  Gathering_be/src/main/java/com/Gathering_be/global/config/SecurityConfig.java
  Gathering_be/src/main/resources/application-prod.yml
Due: none

[fix] db validate로 변경
  Gathering_be/src/main/resources/application-prod.yml
Due: none

[fix] 오류 수정
  .github/workflows/deploy-prod.yml
Due: none

[fix] 환경변수 수정
  .github/workflows/deploy-prod.yml
  Gathering_be/docker-compose.prod.yml
  Gathering_be/src/main/resources/application-prod.yml
Due: none

[fix] 환경변수 수정
  .github/workflows/deploy-prod.yml
Due: none

[fix] oauth2 설정
  .github/workflows/deploy-prod.yml
  Gathering_be/docker-compose.prod.yml
  Gathering_be/src/main/resources/application-prod.yml
Due: none

[fix] cors 설정
  Gathering_be/src/main/java/com/Gathering_be/global/config/SecurityConfig.java
Due: none

[fix] cors 설정 2nd
  .idea/compiler.xml
Due: none

[fix] cors 설정 2nd
  Gathering_be/src/main/resources/application-prod.yml
Due: none

[fix] oauth2 설정 2nd
  Gathering_be/src/main/java/com/Gathering_be/global/config/SecurityConfig.java
  Gathering_be/src/main/resources/application-prod.yml
Due: none

[fix] oauth2 , cors 설정 3rd
  .github/workflows/deploy-prod.yml
  Gathering_be/src/main/java/com/Gathering_be/global/config/SecurityConfig.java
  Gathering_be/src/main/resources/application-prod.yml
Due: none

[fix] oauth2 설정 4th
  Gathering_be/src/main/java/com/Gathering_be/global/config/SecurityConfig.java
Due: none

[fix] 배포 로그 설정
  .github/workflows/deploy-prod.yml
Due: none

[fix] 배포 설정 2nd
  .github/workflows/deploy-prod.yml
Due: none

[fix] oauth2 설정 5th
  Gathering_be/build.gradle
Due: none

[fix] oauth2 설정 6th
  Gathering_be/src/main/java/com/Gathering_be/global/config/SecurityConfig.java
Due: none

[fix] oauth2 설정 7th
  Gathering_be/src/main/java/com/Gathering_be/global/config/SecurityConfig.java
Due: none
