Repository Gathering-Organization/Gathering: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[fix] API 수정으로 인한 불필요한 API 호출 제거
  Gathering_fe/src/components/PostItem.tsx
  Gathering_fe/src/components/Viewer.tsx
  Gathering_fe/src/pages/PostHome.tsx
  Gathering_fe/src/pages/ViewPost.tsx
  Gathering_fe/src/types/post.ts
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[fix] 제출 당시의 지원서 정보를 불러오도록 수정
  Gathering_fe/src/components/ApplyModal.tsx
  Gathering_fe/src/components/ApplyResultModal.tsx
  Gathering_fe/src/pages/Apply.tsx
  Gathering_fe/src/pages/MyApplication.tsx
  Gathering_fe/src/services/applicationApi.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[fix] getAllPosting API에서 applyStatus 필드의 추가로 관련 코드 수정
  Gathering_fe/src/components/ApplyResultModal.tsx
  Gathering_fe/src/components/PostItem.tsx
  Gathering_fe/src/components/Viewer.tsx
  Gathering_fe/src/pages/Posting.tsx
  Gathering_fe/src/pages/Profile.tsx
  Gathering_fe/src/types/post.ts
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[design] OtherApplicationModal fadeIn 애니메이션 추가
  Gathering_fe/src/components/OtherApplicationModal.tsx
  Gathering_fe/src/pages/PostEdit.tsx
  Gathering_fe/tailwind.config.js
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[feat] ProjectDetailResponse에 profileColor 필드 추가
  Gathering_be/src/main/java/com/Gathering_be/dto/response/ProjectDetailResponse.java
Due: none

[feat] 일부 String 필드값 TEXT로 변경
  Gathering_be/src/main/java/com/Gathering_be/domain/Application.java
  Gathering_be/src/main/java/com/Gathering_be/domain/Profile.java
  Gathering_be/src/main/java/com/Gathering_be/domain/WorkExperience.java
Due: none

[feat] ProjectDetailResponse 의 프로필 필드값들 ProfileResponse로 변경 (#6)
  Gathering_be/src/main/java/com/Gathering_be/dto/response/ProjectDetailResponse.java
Due: none

[refactor] api/project/{id} API 변경으로 인한 프로필 컬러 이용 방법 변경
  Gathering_fe/src/components/Pagination.tsx
  Gathering_fe/src/components/Viewer.tsx
  Gathering_fe/src/types/post.ts
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[fix] 포트폴리오 등록 시 입력해놨던 프로필 정보 리셋되는 문제 해결
  Gathering_fe/src/pages/Profile.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[design] 프로필 애니메이션 추가
  Gathering_fe/src/components/NicknameModal.tsx
  Gathering_fe/src/components/ProfileColorModal.tsx
  Gathering_fe/src/components/WorkExperienceModal.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[design] PostHome 드롭다운 애니메이션 추가
  Gathering_fe/src/components/LogoutButton.tsx
  Gathering_fe/src/components/MoreWorkExperiencesModal.tsx
  Gathering_fe/src/components/MultiLevelDropdown.tsx
  Gathering_fe/src/components/MultiSelection.tsx
  Gathering_fe/src/components/OptionalDropdown.tsx
  Gathering_fe/src/components/SearchBar.tsx
  Gathering_fe/src/pages/PostHome.tsx
  Gathering_fe/tailwind.config.js
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[design] 모집글 작성, 수정 시 드롭다운 애니메이션 추가
  Gathering_fe/src/components/SingleSelection.tsx
  Gathering_fe/src/components/TeamTagInput.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[design] 프로젝트 필터, PostHome 레이아웃 수정
  Gathering_fe/src/components/Header.tsx
  Gathering_fe/src/components/PostItem.tsx
  Gathering_fe/src/components/ProjectTypeFilter.tsx
  Gathering_fe/src/pages/PostHome.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[design] 모집글, 지원서 모아보기 레이아웃 수정
  Gathering_fe/src/components/FilteringButton.tsx
  Gathering_fe/src/components/Layout.tsx
  Gathering_fe/src/components/PostItem.tsx
  Gathering_fe/src/pages/MyApplication.tsx
  Gathering_fe/src/pages/MyPostHome.tsx
  Gathering_fe/src/pages/PostHome.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[design] 모달창 fadeIn 애니메이션 추가
  Gathering_fe/src/components/ApplyModal.tsx
  Gathering_fe/src/components/ApplyResultModal.tsx
  Gathering_fe/src/components/Header.tsx
  Gathering_fe/src/components/OtherUserProfileModal.tsx
  Gathering_fe/src/components/ProfileColorModal.tsx
  Gathering_fe/src/components/Viewer.tsx
  Gathering_fe/src/components/WorkExperienceModal.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[refator] 모집 현황, 지원 현황 불러오기
  Gathering_fe/src/components/Layout.tsx
  Gathering_fe/src/components/WorkExperienceViewerModal.tsx
  Gathering_fe/src/pages/Apply.tsx
  Gathering_fe/src/pages/OtherUserProfile.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[refactor] 불필요한 API 호출 제거
  Gathering_fe/src/pages/ViewPost.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[refactor] 모집글 상세보기 진입 시 불필요한 API 호출 제거 및 캐싱 전략 적용
  Gathering_fe/src/components/ApplyModal.tsx
  Gathering_fe/src/components/ApplyResultModal.tsx
  Gathering_fe/src/components/Viewer.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[refactor] 모집글 상세보기의 팀원 정보를 이용하여 불필요한 API 호출 제거
  Gathering_fe/src/components/OtherUserProfileModal.tsx
  Gathering_fe/src/components/Viewer.tsx
  Gathering_fe/src/hooks/UseOtherProfile.tsx
  Gathering_fe/src/pages/OtherUserProfile.tsx
  Gathering_fe/src/types/post.ts
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

Create README.md
  README.md
Due: prettier --config ./Gathering_fe/.prettierrc --write

Update README.md
  README.md
Due: prettier --config ./Gathering_fe/.prettierrc --write

[feat] 미 로그인 시 로그인 모달창 유도
  Gathering_fe/src/App.tsx
  Gathering_fe/src/components/FilteringButton.tsx
  Gathering_fe/src/components/Header.tsx
  Gathering_fe/src/components/LoginInModal.tsx
  Gathering_fe/src/components/LoginModal.tsx
  Gathering_fe/src/components/LogoutButton.tsx
  Gathering_fe/src/components/ProtectedRoute.tsx
  Gathering_fe/src/components/SearchBar.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

프로젝트 워크플로우 예시
  README.md
Due: prettier --config ./Gathering_fe/.prettierrc --write

프로젝트 워크플로우 임시2
  README.md
Due: prettier --config ./Gathering_fe/.prettierrc --write

사용자 플로우 추가
  README.md
Due: prettier --config ./Gathering_fe/.prettierrc --write

[design] 내 지원서 보기 버튼 밖으로 빼고 몇 가지 버튼 디자인 수정
  Gathering_fe/public/gathering.png
  Gathering_fe/src/components/ApplyModal.tsx
  Gathering_fe/src/components/ApplyResultModal.tsx
  Gathering_fe/src/components/FilteringButton.tsx
  Gathering_fe/src/components/Header.tsx
  Gathering_fe/src/components/TeamTagInput.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[feat] 닉네임 변경 규칙 생성
  Gathering_fe/src/components/LogoutButton.tsx
  Gathering_fe/src/components/NicknameModal.tsx
  Gathering_fe/src/components/SignupModal.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

기술 스택 업데이트
  README.md
Due: prettier --config ./Gathering_fe/.prettierrc --write

[feat] 회원가입 시 닉네임, 비밀번호 규칙 검증 생성
  Gathering_fe/src/components/NicknameModal.tsx
  Gathering_fe/src/components/SignUpCelebrate.tsx
  Gathering_fe/src/components/SignUpCertEmail.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

README 프로젝트 아키텍처 추가
  README.md
Due: prettier --config ./Gathering_fe/.prettierrc --write

[fix] 이메일 로그인 시 새로고침 로직 추가
  Gathering_fe/src/components/LoginModal.tsx
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

[fix] 지원서 제출 시 UX 상 대기할 수 있도록 로딩 스피너 추가
  Gathering_fe/src/components/ApplyModal.tsx
  Gathering_fe/src/components/GoogleRedirectHandler.tsx
  Gathering_fe/src/pages/ViewPost.tsx
  package.json
Due: eslint --config ./Gathering_fe/eslint.config.js --fix, prettier --config ./Gathering_fe/.prettierrc --write

Path conditions:
  eslint --config ./Gathering_fe/eslint.config.js --fix: any of: Gathering_fe/**/*.{js,jsx,ts,tsx}
  prettier --config ./Gathering_fe/.prettierrc --write: (any of: Gathering_fe/**/*.{js,jsx,ts,tsx}) or (any of: **/*.{json,md,css,scss})
